.wrapper {
  display: grid;
  grid-template-columns: 17rem 1fr;
  gap: 1.5rem;
  width: 80%;
  margin: 5rem auto;
  height: 100%;

  @media only screen and (max-width: 376px) {
    grid-template-columns: none;
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1.5rem;
}
