.wrapper {
  display: grid;
  grid-template-columns: 17rem 1fr;
  gap: 1.5rem;
  width: 85%;
  margin: 5rem auto;
  height: 100%;

  @media only screen and (max-width: 375px) {
    grid-template-columns: none;
    margin: 5rem auto;
    width: 90%;
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 1rem;

  @media only screen and (max-width: 375px) {
    grid-template-columns: none;
  }
}
